.error-pagewrap{
  background-image: url("src/assets/images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hpanel .panel-body {
  height: 350px;
}

.text-light {
  color: #f8f9fa!important; /* Bootstrap light color or use your preferred light color */
}