<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a href="index.html"
        ><img
          class="main-logo"
          src="assets/images/TT2.png"
          width="100px"
          height="80px"
          style="margin-top: 15px"
          alt=""
      /></a>
      <strong
        ><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a
      ></strong>
    </div>
    <div
      class="left-custom-menu-adp-wrap comment-scrollbar"
      style="margin-top: 25px"
    >
      <!-- <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li>
            <a
              title="Landing Page"
              routerLink="/admin/list/secteurs"
              aria-expanded="false"
              ><span
                class="educate-icon educate-event icon-wrap sub-icon-mg"
                aria-hidden="true"
              ></span>
              <span class="mini-click-non">Gérer Secteurs</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/admin/list/users"
              id="usersDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="educate-icon educate-professor icon-wrap"></span>
              <span class="mini-click-non">Gérer Utilisateurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/delegations" aria-expanded="false"
              ><span class="educate-icon educate-department icon-wrap"></span>
              <span class="mini-click-non">Gérer Délégations</span></a
            >
          </li>
          <li>
            <a routerLink="/admin/list/sites" aria-expanded="false"
              ><span class="educate-icon educate-message icon-wrap"></span>
              <span class="mini-click-non">Gérer Sites</span></a
            >
          </li>
          <li>
            <a class="has-arrow" aria-expanded="false"
              ><span class="educate-icon educate-interface icon-wrap"></span>
              <span class="mini-click-non">Gérer Cellules</span></a
            >
            <ul class="dropdown-toggle" aria-expanded="false">
              <li>
                <a routerLink="/admin/cellule2G"
                  ><span class="mini-sub-pro">Cellules 2G</span></a
                >
              </li>
              <li>
                <a routerLink="/admin/cellule3G"
                  ><span class="mini-sub-pro">Cellules 3G</span></a
                >
              </li>
              <li>
                <a routerLink="/admin/cellule4G"
                  ><span class="mini-sub-pro">Cellules 4G</span></a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/admin/list/regions" aria-expanded="false"
              ><span class="educate-icon educate-charts icon-wrap"></span>
              <span class="mini-click-non">Gérer Régions</span></a
            >
          </li>
          <li>
            <a routerLink="/admin/list/fournisseurs" aria-expanded="false"
              ><span class="educate-icon educate-data-table icon-wrap"></span>
              <span class="mini-click-non">Gérer Fournisseures</span></a
            >
          </li>
          <li>
            <a routerLink="/admin/docfinsite" aria-expanded="false"
              ><span class="educate-icon educate-form icon-wrap"></span>
              <span class="mini-click-non">Doc Financiéres</span></a
            >
          </li>
          <li>
            <a aria-expanded="false"
              ><span class="educate-icon educate-apps icon-wrap"></span>
              <span class="mini-click-non">Tableaux De Bord</span></a
            >
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/tbsite"
                  ><span class="mini-sub-pro">Sites</span></a
                >
              </li>
              <li>
                <a routerLink="/admin/tbCel"
                  ><span class="mini-sub-pro">Cellules</span></a
                >
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="/admin/" aria-expanded="false"
              ><span class="educate-icon educate-apps icon-wrap"></span>
              <span class="mini-click-non">BI</span></a
            >
          </li>
        </ul>
      </nav> -->
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li>
            <a aria-expanded="false">
              <span class="educate-icon educate-apps icon-wrap"></span>
              <span class="mini-click-non">Tableaux De Bord BI</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/tbsite">
                  <span class="mini-sub-pro">Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/tbCel">
                  <span class="mini-sub-pro">Cellules</span>
                </a>
              </li>
            </ul>
          </li>
          <!-- <li>
            <a class="has-arrow" aria-expanded="false">
              <span class="educate-icon educate-interface icon-wrap"></span>
              <span class="mini-click-non">Sites</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/cellule2G">
                  <span class="mini-sub-pro">Gérer Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/cellule2G">
                  <span class="mini-sub-pro">Doc Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/cellule3G">
                  <span class="mini-sub-pro">Doc Financières</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/cellule4G">
                  <span class="mini-sub-pro">Rapport</span>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item" [class.open]="isDropdownOpen">
            <a (click)="toggleDropdown($event)">
              <span
                class="educate-icon educate-interface icon-wrap"
                [class.show]="isDropdownOpen"
              ></span>
              <span class="mini-click-non">Sites</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp">
              <li>
                <a routerLink="/admin/list/sites">
                  <span class="educate-icon educate-interface icon-wrap"></span>
                  <span class="">Gérer Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/docsite">Doc Sites</a>
              </li>
              <li>
                <a routerLink="/admin/docfinsite">Doc Financières</a>
              </li>
              <li>
                <a routerLink="/admin/tbsite">Rapport</a>
              </li>
            </ul>
          </li>

          <li>
            <a
              title="Landing Page"
              routerLink="/admin/list/secteurs"
              aria-expanded="false"
            >
              <span
                class="educate-icon educate-event icon-wrap sub-icon-mg"
                aria-hidden="true"
              ></span>
              <span class="mini-click-non">Cellules</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/cellule2G">
                  <span class="mini-sub-pro">Gérer Cellules</span>
                </a>
              </li>

              <li>
                <a routerLink="/admin/cellule4G">
                  <span class="mini-sub-pro">Rapport</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/admin/list/users"
              id="usersDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="educate-icon educate-professor icon-wrap"></span>
              <span class="mini-click-non">Gérer Utilisateurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/delegations" aria-expanded="false">
              <span class="educate-icon educate-department icon-wrap"></span>
              <span class="mini-click-non">Gérer Délégations</span>
            </a>
          </li>

          <!-- <li>
            <a class="has-arrow" aria-expanded="false">
              <span class="educate-icon educate-interface icon-wrap"></span>
              <span class="mini-click-non">Gérer Cellules</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/cellule2G">
                  <span class="mini-sub-pro">Cellules 2G</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/cellule3G">
                  <span class="mini-sub-pro">Cellules 3G</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/cellule4G">
                  <span class="mini-sub-pro">Cellules 4G</span>
                </a>
              </li>
            </ul>
          </li> -->
          <li>
            <a routerLink="/admin/list/regions" aria-expanded="false">
              <span class="educate-icon educate-charts icon-wrap"></span>
              <span class="mini-click-non">Gérer Régions</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/list/fournisseurs" aria-expanded="false">
              <span class="educate-icon educate-data-table icon-wrap"></span>
              <span class="mini-click-non">Gérer Fournisseurs</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="assets/images/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- menu navbar -->
  <app-navbar-admin></app-navbar-admin>
  <router-outlet></router-outlet>
  <!-- <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
